<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../output.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <section>
    <h1 class="text-3xl font-bold mb-4">About</h1>
  <p class="mb-8 max-w-2xl text-xl">Párrafo de lo importante de esta persona, quien es, donde nació, etc.</p>
  <ul>
    <li>cosa importante </li>
    <li>cosa importante </li>
    <li>cosa importante </li>
    <li>cosa importante </li>
    <li>cosa importante </li>
  </ul>
  </section>
</body>
</html>