<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/output.css" rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <section class="relative h-[70vh] w-full">
    <div class="absolute inset-0">
      <img src="../public/cience.jpg" alt="home" class="object-cover max-h-[70vh] w-full">
    </div>
    <div class="relative flex flex-col items-center justify-center h-full text-center text-white">
      <h1 class="mb-4 text-5xl font-bold">Famous person</h1>
      <p class="mb-8 max-w-2xl text-xl text-gray-200">Una persona muy importante para algo.</p>
    </div>
  </section>
</body>
</html>